name: PharmaR Validation Workflow

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

permissions:
    contents: write

env:
    PHARMAPKGS_REMOTE_REPO: https://cloud.r-project.org/
    PHARMAPKGS_LOCAL_REPO: ${{ github.workspace }}
    PHARMAPKGS_LIMIT: ${{ vars.PHARMAPKGS_LIMIT || 250 }} # Limit to max 250 => 500 artifacts
    PHARMAPKGS_EXCLUDED_METRICS: ${{ vars.PHARMAPKGS_EXCLUDED_METRICS || 'NULL' }}
    LOGGER_LOG_LEVEL: DEBUG

jobs:
  check-updates:
    name: Check package updates
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.decision.outputs.packages }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: false
          Ncpus: 4

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: yyjsonr

      - name: Check packages on repos
        id: decision
        run: |
          repo <- Sys.getenv("PHARMAPKGS_LOCAL_REPO", unset = "https://raw.githubusercontent.com/pharmaR/val.repo/refs/heads/main/")
          val_repo <- available.packages(repos = repo)
          default_repos <- available.packages()

          columns <-  c("Package", "Version", "Repository")
          repo_rel <- merge(val_repo[, columns],
                            default_repos[, columns], by = c("Package", "Version"), all = TRUE)
          # It has new versions of existing packages on the val.repo and new packages.
          packages <- repo_rel$Package[is.na(repo_rel$Repository.x)]
          # GHA limit is 256: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#jobsjob_idstrategymatrix
          # See problems/situations https://github.com/orgs/community/discussions/38704
          max_n_pkgs <- as.numeric(Sys.getenv("PHARMAPKGS_LIMIT", unset = 250))
          n_pkgs2update <- length(packages)
          n_pkgs <- min(n_pkgs2update, max_n_pkgs)
          # Randomize which packages are added FIXME: mostly for testing the pipeline
          packages <- packages[sample(n_pkgs2update, n_pkgs)]
          library(yyjsonr)
          ops <- opts_write_json(auto_unbox = FALSE)
          cat(packages)
          cat(paste0("packages=", yyjsonr::write_json_str(packages)), file=Sys.getenv("GITHUB_OUTPUT", unset = "pkges.json"), append=TRUE)
          Sys.setenv(packages = toString(dQuote(packages, FALSE)))
        shell: Rscript {0}

  calculate-metrics:
    needs: check-updates
    runs-on: ubuntu-latest
    timeout-minutes: 30 # TODO: change limit # https://stackoverflow.com/a/59076067
    strategy:
      fail-fast: false # If one package fails, don't stop the others
      matrix:
        package: ${{ fromJson(needs.check-updates.outputs.packages) }}
    outputs:
      package: ${{ matrix.package }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      PKG_NAME: ${{ matrix.package }} # Pass matrix value to Env Var
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: false
          Ncpus: 4

      - name: Install Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: ${{ matrix.package }}
          extra-packages: any::pak, github::pharmaR/riskmetric, github::pharmaR/val.meter, github::pharmaR/val.report

      - name: Calculate Metrics
        run: |
          library("riskmetric")
          library("val.meter")
          pkg_name <- Sys.getenv("PKG_NAME")
          cat(pkg_name)

          # Download source of the package installed to be able to assess it better
          # download.file(sprintf("https://cloud.r-project.org/package=%s&version=%s",
          #               pkg_name, packageDescription(pkg_name, fields = "Version")),
          #               "package.tar.gz")
          files <- download.packages(pkg_name, destdir = ".")
          utils::untar(files[, 2], exdir = ".")
          # download.packages(pkg_name, destdir = ".")
          # 1. Calculate metrics
          pkg_ref <- pkg_ref(pkg_name, source = "pkg_source")
          pa <- pkg_assess(pkg_ref)

          # metrics_obj <- val.meter::calculate_metrics(package = pkg_name)

          # 2. Save to file for the next job to pick up
          dir.create("artifacts_out", showWarnings = FALSE)
          file_metrics <- file.path("artifacts_out", paste0(pkg_name, ".rds"))
          saveRDS(pa, file = file_metrics)
          #saveRDS(metrics_obj, file = file_metrics)
        shell: Rscript {0}

      - name: Upload Metrics Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.package }}-metric
          path: artifacts_out/*.rds
          retention-days: 30
  generate-report:
    needs: calculate-metrics
    if: always()
    runs-on: ubuntu-latest
    timeout-minutes: 30 # https://stackoverflow.com/a/59076067
    strategy:
      fail-fast: false # If one package fails, don't stop the others
      matrix:
        package:  ${{ fromJson(needs.calculate-metrics.outputs.package) }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      PKG_NAME: ${{ matrix.package }} # Pass matrix value to Env Var
    steps:
      - name: Download metrics
        uses: actions/download-artifact@v7
        with:
          name: ${{ matrix.package }}-metric.rds
          path: artifacts_out/${{ matrix.package }}-metric.rds

      - name: Generate Report
        run: |
          library("val.report")

          pkg_name <- Sys.getenv("PKG_NAME")
          assessment_path <- file.path("artifacts_out", paste0(pkg_name, ".rds"))
          output_dir <- "validation_output"
          dir.create(output_dir, showWarnings = FALSE)
          options("valreport_output_dir" = output_dir)
          val.report::package_report(
            package_name = pkg_name,
            package_version = packageDescription(pkg_name, fields = "Version"),
            params = list(
              image = Sys.getenv("RUNNER_OS", "rhub/ref-image"),
              assessment_path = assessment_path
            )
          )
        shell: Rscript {0}

      - name: Upload Report Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: validation-report-${{ matrix.package }}
          path: _site/validation_output/*
          retention-days: 30

  update-repo-index:
    needs: calculate-metrics
    if: always()
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup R
        uses: r-lib/actions/setup-r@v2

      - name: Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgdown, quarto, pharmar/pharmapkgs

      - name: Download scores
        uses: actions/download-artifact@v7
        with:
          path: artifacts_out

      - name: Update package repositories
        shell: Rscript {0}
        run: |
            library("pharmapkgs")
            .config <- pharmapkgs:::.config
            remote_packages <- get_packages()
            local_packages <- get_packages(base_url = .config$local_repo)

            assessment_path <- list.files("artifacts_out", ".rds$")
            if (!length(assessment_path)) {
              logger::log_info("No new packages to score", namespace = "pharmapkgs")
              q(save = "no")
            }
            names(assessment_path) <- tools::file_path_sans_ext(basename(assessment_path))
            pkgs_metrics <- lapply(assessment_path, readRDS)
            new_metrics_packages <- as.data.frame(lapply(pkgs_metrics, as.character))
            scored_packages <- add_score_to_packages(remote_packages, new_metrics_packages)
            new_local_packages <- update_packages(local_packages, scored_packages)
            write_packages(new_local_packages)

      - name: Compress reports
        working-directory: src/contrib/Meta
        run: |
            tar czf reports.tar.gz *.md
            rm *.md

  # -----------------------------------------------------------------
  # JOB 5: Update Website
  # -----------------------------------------------------------------
  update-website:
    needs: generate-report
    runs-on: ubuntu-latest
    if: always()
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      # AGGREGATION STEP
      # This downloads every artifact starting with 'validation-report-'
      # and merges them into one folder.
      - name: Download All Reports
        uses: actions/download-artifact@v7
        with:
          pattern: validation-report-*
          merge-multiple: true
          path: website_content/validation

      # (Optional) List files to verify aggregation in logs
      - name: Verify Aggregated Files
        run: ls -lhR website_content/validation

      - uses: quarto-dev/quarto-actions/setup@v2

      - name: Render html pages
        uses: quarto-dev/quarto-actions/render@v2

      - name: Remove search.json file
        run: rm _site/search.json

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
            commit_message: "Auto-update"
            file_pattern: ${{ github.workspace }}/src/contrib/Meta/*.tar.gz ${{ github.workspace }}/src/contrib/PACKAGES
            add_options: '-u'

      - name: Remove untracked files
        run: git clean -fdx
